<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Happiness</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
</head>
<body>
    <div class = "container mt-5">
        <!-- Begin navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/"><b>Home</b></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/about">About<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pet Population Analysis
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/pet_per_capita">Pets per Capita</a>
                            <a class="dropdown-item" href="/pet_life_expectancy">Pets vs. Life Expectancy</a>
                            <a class="dropdown-item" href="/pet_GDP">Pets vs. GDP</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/survey_mapped">Our Pet Survey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/send">Add Pet Data</a>
                    </li>
                </ul>
            </div>
        </nav>  <!-- End navbar -->
    </div>

    <div class="container">
        <!-- Begin Image Banner -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner mb-5">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/pets_sitting_stock.jpeg" alt="A variety of pets">
                    <div class="carousel-caption text-light">
                        <h1>if(pets === happiness)</h1>
                        <p>An investigation into worldwide pet populations and happiness scores.</p>
                    </div>
                </div>
            </div>  <!-- End image banner -->
        </div>
        
        
        <h4 class="text-dark text-center">Pets & Happiness</h4>
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <p>This project was meant to focus on an extremely important and serious topic. You probably have been waiting for years for a study as serious and as impactful as this one, so hold on and get ready.</p>                
                <p>Due to extremely high prices for content, our data was limited to the top 20 countries by dog, cat, fish and bird ownership.  The World Bank provided extensive data sets which were used in this project to determine vital ratios like the dog to human ratio by country.  Pandas allowed for straightforward data manipulation which was then plotted.  Under the Population Anlaysis tab, users can select the Pets Per Capita page which contains graphics comparing the pet:human ratio (x axis) to the country's national happiness score (y axis).</p>
                <p>Pets to GDP is another under studied topic that many economists have neglected over the past centuries.  Surprisingly, there was little visible correllation between economic output and total numbers of pets owned by country.</p>
                <p>While many medical experts focus on lifesaving drugs, they often fail to suggest that their patients adopt a pet.  Noticeable correllation was observed when comparing pet populations to life expectancy.   Coincidence?  We think not.</p>
                <p>Due to limited available data, a feature to collect pet information was also created.   It allows users to input their pet's location, species and name.  The data collected on the website is then put into a postgresql database and plotted on a map.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Footer -->
        <div class="jumbotron jumbotron-fluid mt-5 p-1">
            <div class="container text-center pt-2">
                <p>&copy; 2018</p>
            </div>
        </div>  <!-- End footer -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
