<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Happiness</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class = "container mt-5">
        <!-- Begin navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/"><b>Home</b><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pet Population Analysis
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/pet_per_capita">Pets per Capita</a>
                            <a class="dropdown-item" href="/pet_life_expectancy">Pets vs. Life Expectancy</a>
                            <a class="dropdown-item" href="/pet_GDP">Pets vs. GDP</a>
                            <a class="dropdown-item" href="/pet_urban_population">Pets vs. Urban Population</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/survey_mapped">Our Pet Survey</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-light" href="/send">Add Pet Data</a>
                    </li>
                </ul>
            </div>
        </nav>  <!-- End navbar -->
    </div>

    <div class="container">
        <!-- Begin Image Banner -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner mb-5">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/pets_sitting_stock.jpeg" alt="A variety of pets">
                    <div class="carousel-caption text-light">
                        <h1>if(pets === happiness)</h1>
                        <p>An investigation into worldwide pet populations and happiness scores.</p>
                    </div>
                </div>
            </div>  <!-- End image banner -->
        </div>

        <div class = "container my-5">
            <!-- Begin Form class -->
            <div class="card bg-light mx-auto w-75">
                <div class="card-header"><h5>Pet Population Survey</h5></div>
                <div class="card-body">
                    <h6 class="card-title">Please help us visualize global pet populations.</h6>
                    <p class="card-text">
                        <form method = "POST" action = "/send" role = "form" name = "petform">
                            <div class="form-group px-2">
                                <label for="inputType">Type of Pet</label>
                                <select class="custom-select" id="inputType" name = "petType">
                                    <option selected value="1">Dog</option>
                                    <option value="2">Cat</option>
                                    <option value="3">Bird</option>
                                    <option value="4">Fish</option>
                                </select>
                            </div>
                            <div class="form-group px-2">
                                <label for="inputName">Pet Name</label>
                                <input type="text" class="form-control" id="inputName" name="petName" placeholder="Fluffy">
                            </div>
                            <div class="form-group px-2">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity" name="petCity" placeholder="Chicago">
                            </div>
                            <div class="form-group px-2">
                                <label for="inputCountry">Country</label>
                                <select class="custom-select" id="inputCountry" name="petCountry">
                                    <!-- D3 country drop down -->
                                </select>
                            </div>
                            <div class="form-group px-2">
                                <input type="submit" value="submit" class="btn btn-default">
                            </div>
                        </form>
                    </p>
                </div>
            </div>  <!-- End Card Class-->
        </div>  <!-- End container -->
    </div>

    <div class="container">
        <!-- Footer -->
        <div class="jumbotron jumbotron-fluid mt-5 p-1">
            <div class="container text-center pt-2">
                <p>&copy; 2018</p>
            </div>
        </div>  <!-- End footer -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/generate_country_list.js') }}"></script>
</body>
</html>

