<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Happiness</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
</head>
<body>
    <div class = "container mt-5">
        <!-- Begin navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="/"><b>Home</b><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pet Population Analysis
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/pet_per_capita">Pets per Capita</a>
                            <a class="dropdown-item" href="/pet_life_expectancy">Pets vs. Life Expectancy</a>
                            <a class="dropdown-item" href="/pet_GDP">Pets vs. GDP</a>
                            <a class="dropdown-item" href="/pet_urban_population">Pets vs. Urban Population</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/survey_mapped">Our Pet Survey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/send">Add Pet Data</a>
                    </li>
                </ul>
            </div>
        </nav>  <!-- End navbar -->
    </div>

    <div class="container">
        <!-- Begin Image Banner -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner mb-5">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/pets_sitting_stock.jpeg" alt="A variety of pets">
                    <div class="carousel-caption text-light">
                        <h1>if(pets === happiness)</h1>
                        <p>An investigation into worldwide pet populations and happiness scores.</p>
                    </div>
                </div>
            </div>  <!-- End image banner -->
        </div>
        
        <!-- Begin content -->
        <!-- <h4 class="text-dark text-center">World Happiness Scores</h4> -->
        <!-- <div class="row"> -->
            <!-- World Happiness Map -->
            <!-- <div id="graph2"></div> -->
        <!-- </div> -->
        <h4 class="text-dark text-center">Top 20 Global Pet Populations</h4>
        <div class="row d-flex justify-content-center">
            <div class="col-3">
                <form class="form-inline">
                    <div class="form-group p-2">
                        <select class="custom-select" id="inputType" name = "petType">
                            <option selected value="dog">Dog</option>
                            <option value="cat">Cat</option>
                            <option value="bird">Bird</option>
                            <option value="fish">Fish</option>
                        </select>
                    </div>
                    <button id="submit" type="submit" class="btn btn-default">Select Population</button>
                </form>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <!-- World Pet populations bar graph -->
                <div id="top20-pet-populations">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Footer -->
        <div class="jumbotron jumbotron-fluid mt-5 p-1">
            <div class="container text-center pt-2">
                <p>&copy; 2018</p>
            </div>
        </div>  <!-- End footer -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
